@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root{
    --slateColor: #1e293b;
    --offWhite: #f1f5f9;
    --bgGray: #cbd5e1;
    font-family: 'Roboto', sans-serif;
    
}

body{
    display: grid;
    grid-template: 150px 1fr / 1fr 4fr;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    box-sizing: border-box;
}

p {
    padding: 0px;
    margin: 0px;
}

.sidebar ul{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0px;
    padding-left: 10px;
    row-gap: 20px;
}

li{
    list-style: none;
    font-weight: 500;
    font-size: 1.2em;
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--slateColor);
    color: var(--offWhite);
    padding: 20px;
    display: grid;
    align-items: start;
    grid-template-rows: 1fr 3fr 5fr;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--bgGray);
    padding: 30px;
}

.profile {
    width: 40px;
    border-radius: 50%;
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 30px;
    gap: 10px;
}

.user-actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.user-actions .profile {
    width: 100%;
}

.user-actions button{
    background-color: var(--slateColor);
    padding: 10px 30px;
    border-radius: 30px;
    color: var(--offWhite);
    font-weight: 500;
}

.above-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.profile-name {
    font-weight: 500;
    font-size: 1.2em;
}

.search {
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
}

.search > input {
    width: 80%;
    margin-left: 20px;
}

.logo-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
}

.profile-container{
    display: grid;
    grid-template: 1fr 1fr / 50px auto;
    column-gap: 25px;
    min-width: 400px;
    flex: 1;

}

.profile-container > .profile{
    grid-row-start: 1;
    grid-row-end: 3;
}

.project-card{
    background-color: var(--offWhite);
    height: 200px;
}

